/* https://github.com/greggman/better-unity-webgl-template/blob/master/Assets/WebGLTemplates/Better2020/TemplateData/style.css */

html {
	box-sizing: border-box;

}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

canvas {
	display: block;
}

body {
	margin: 0;
}



#unity-container {
	width: 100%;
	height: 100%;
}

#unity-canvas {
	width: 100%;
	height: 100%;
	background: #fff;
}

#loading-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #070707;
}

#unity-loading-bar {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#unity-progress-bar-empty {
	width: 80%;
	height: 24px;
	margin: 10px 20px 20px 10px;
	text-align: left;
	border: 1px solid white;
	padding: 2px;
}

#unity-progress-bar-full {
	width: 0%;
	height: 100%;
	background: white;
}

.light #unity-progress-bar-empty {
	border-color: black;
}

.light #unity-progress-bar-full {
	background: black;
}

.spinner,
.spinner:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

.spinner {
	margin: 10px;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	transform: translateZ(0);
	animation: spinner-spin 1.1s infinite linear;
}

@keyframes spinner-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#unity-progress-bar-empty,
#unity-progress-bar-full,
.spinner {
	display: none;
}

.video {
	width: 75vw;
	height: auto;
	max-height: 75vh;
	object-fit: contain;
}

#video3 {
	display: none;
}

@keyframes expandVideo {
	from {
		width: 75vw;
	}

	to {
		max-height: 10000px;
		width: 200%;
	}
}

#video3.expanded {
	animation-name: expandVideo;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-out {
	animation-name: fadeOut;
	animation-duration: 1s;
	/* Продолжительность анимации */
	animation-fill-mode: forwards;
	/* Оставляет элемент в конечном состоянии анимации */
}

.text_div {
	position: absolute;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	margin-bottom: 20px;
}

.text {
	color: white;
	width: 50%;
	font-size: 60%;
	font-family: "Jost";
	text-align: center;
}


@media screen and (max-width: 810px) and (min-width: 651px) {
  .text {
		font-size: 55%;
		width: 75%;
	}

	@keyframes expandVideo {
		from {
			width: 75vw;
		}

		to {
			width: 275%;
			max-height: 10000px;
		}
	}
}

@media screen and (max-width: 500px) {
	.text {
		font-size: 40%;
	}

	@keyframes expandVideo {
		from {
			width: 75vw;
		}

		to {
			width: 600%;
			max-height: 10000px;
		}
	}
}

@media screen and (min-width: 1500px) {
  .text {
		font-size: 100%;
		width: 75%;
	}
}
